.imageColumn {
    max-width: 100px !important;
    min-width: 100px !important;
}

.productName{
    text-transform: capitalize;
}

.grid{
    height: 700px;
}

.inStock{
    color: green;
    font-weight: bold;
    font-size: 13px;
}

.outOfStock{
    color:red; font-size: 13px;
    font-weight: bold;
}

.productDescription{
    white-space: normal;
}

.stockBlock{
    padding: 43px 0px;
}

.priceBlock{
    padding: 45px 0px;
}

.cartStatus{
    margin: 10px 0px;
}

.navDiv{
    padding: 20px 40px;
    border-bottom: #f8f9fa solid;
    margin-bottom: 20px;
}

.no-rows {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.no-rows .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50%;
    line-height: 200%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 24px;
    display: table;
}

.no-rows .msg span {
    display: table-cell;
    vertical-align: middle;
}

.action-button{
    width: 200px;
    padding: 15px;
    margin: 0 auto;
}