<p class="text-info">
    Thanks for shopping at the MidValley Shopping Store.<br/>
    You are one step far from placing the order!
</p>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- products -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Product</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td/>
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0">
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart products -->
                <tr ng-repeat="product in cart.products | orderBy:'name'">
                    <td class="text-center" style="text-transform: capitalize;"><strong>{{product.name}}</strong></td>
                    <td class="tdCenter" width="200">
                        <input type="number" name="input" ng-bind="product.quantity" ng-model="prodQuantity"
                               ng-change="cart.updateQuantity(product.sku, this.prodQuantity)" class="form-control"
                               value="{{product.quantity}}">
                    </td>
                    <td class="tdRight">{{product.price * product.quantity | currency}}</td>
                    <td class="tdCenter" width="30">
                        <a href="" ng-click="cart.addProduct(product.sku, product.name, product.price, -10000000)">
                            <i class="fas fa-times fa-2x" style="color:#a81e1e;"></i>
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td/>
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div class="span4">
            <p class="text-info">
                <button ng-disabled="cart.getTotalCount() < 1"
                        class="btn btn-block btn-success action-button"
                        ng-click="cart.checkout()">
                    <i class="icon-chevron-left"/> Check Out
                </button>
                <br/>
                <button
                        class="btn btn-block btn-primary action-button"
                        onclick="window.location.href='#/'">
                    <i class="icon-chevron-left"/> Back to store
                </button>
                <br/>
                <button
                        class="btn btn-block btn-danger action-button"
                        ng-click="cart.clearItems()"
                        ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-trash icon-white"/> Clear cart
                </button>

            </p>

            <br/><br/>

            <br/><br/>

        </div>
    </div>
</div>
