<h4 align="center" class="text-info">
    Thank you for shopping with Us
</h4>
<br/>
<div class="confirmationImage" align="center">
    <img src="images/orderDone.png" width="150" class="d-inline-block align-top" alt="">
</div>
<br/>
<h5 style="text-align: center"> You could have chosen any other business, but we appreciate that you have stuck with us. <br/><br/>Thank you, again, and have a great day!</h5>
<br/>
<div>
<button style="width:200px;"
        class="btn btn-block btn-primary action-button"
        onclick="window.location.href='#/'">
    <i class="icon-chevron-left"/> Back to store
</button>
</div>