    <div class="row-fluid">
        <div>
            <div class="text-right cartStatus">
                <a href="#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                    <i class="fas fa-shopping-cart" style="font-size: 16px;"></i>
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                </a>
            </div>
            <div ui-grid="gridOptions" class="grid" ui-grid-pagination>
                <div class="no-rows" ng-show="!gridOptions.data.length">
                    <div class="msg">
                        <span>No Rows</span>
                    </div>
                </div>
            </div>




            <!-- ng-Templates to be used in Grid -->
            <script type="text/ng-template" id="productAction.html">
                <div class="ui-grid-cell-contents" ng-controller="ProductCtrl">
                    <a href ng-click='cart.addProduct(row.entity.id, row.entity.name, row.entity.price, 1)'>
                        Add to cart
                    </a>
                </div>
            </script>

            <script type="text/ng-template" id="productInfo.html">
                <div class="ui-grid-cell-contents" style="padding:10px 20px;">
                    <a href="productInfo/{{row.entity.id}}"
                       ng-click='cart.addProduct(row.entity.id, row.entity.name, row.entity.price, 1)'>
                        <span class="productName"><strong>{{row.entity.name}}</strong></span>
                    </a>
                    <br/><br/>
                    <p class="productDescription">{{row.entity.description}}</p>
                    <br/>

                </div>
            </script>

            <script type="text/ng-template" id="productQuantity.html">
                <div class="ui-grid-cell-contents text-center stockBlock">
                    <span class="outOfStock" ng-if="row.entity.quantity<=5">
                        Hurry, Limited Quanity Left!
                    </span>
                    <span class="inStock" ng-if="row.entity.quantity>5">
                        In Stock!
                    </span>
                </div>
            </script>

        </div>


    </div>